body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-size: 15px;
}


.brand {
    color: #fff;
    text-decoration: dashed;

    
}

li {
    display: inline;
}

nav,ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: right;
    cursor: pointer;
}
  
li a {
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 16px;
    margin-top: 0.5px;
    text-decoration: none;
    transition: all 0.7s ease;
}

li a:hover {
    color: aqua;
}

li a:focus {
    color: aqua;
}


.napis {
    color: #111;
    font-size: 40px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}

.napis2 {
    font-size: 20px;
    font-weight: 500;
    color: #111;    
    justify-content: center;
    align-items: center;
    display: flex;
}

.autor {
    display: inline-block;
    margin-top: 10px;
    image-resolution: 250px;
    margin-left: 150px;
    text-align: center;
    justify-content: center;
    padding: 5;
    width: 200px;
    height: 200px;

}

.autor a {
    opacity: 0.8;
    transition: all 0.7s ease;
}

.autor a:hover {
    opacity: 1;
}


figure {
    margin: 8px;
    padding: 0;
}

figcaption {
    margin-top: 8px;
    padding: 0;
}


@media screen and (max-width: 950px) {
    .list {
        display: none;
    }
    .listic {
        display: inline;
    }
    .autor {
        width: 150px;
        height: 150px;
        transition: all 0.7s ease;
    }
}

@media screen and (min-width: 950px) {
    .listic {
        display: none;
    }
    .list {
        display: inline;
    }
    .autor {
        width: 200px;
        height: 200px;
        transition: all 0.7s ease;
    }
}

li.active a {
    color: aqua;
    transition: all 0.7s ease;
}

li a:hover {
    color: aqua;
}

li a:focus {
    color: aqua;
}

li.active a:hover {
    color: blue;
}

li.active a:focus {
    color: blue;
}